<div class="wrapper">
   <div class="title">{{section.settings.heading}}</div>
   <div class="relative">
   <div class="texts-wrapper">
    {%- for block in section.blocks -%}
    {% case block.type %}
    {%- when 'text' -%}
    <div class="block">
        <div class="heading">{{block.settings.heading_block}}</div>
        <div class="text">
            {{block.settings.text_block}}
            {%- if block.settings.show_arrow -%}
                 <svg width="52" height="16" viewBox="0 0 52 16" fill="none" xmlns="http://www.w3.org/2000/svg">
                 <path d="M51.7071 8.70711C52.0976 8.31658 52.0976 7.68342 51.7071 7.29289L45.3431 0.928932C44.9526 0.538408 44.3195 0.538408 43.9289 0.928932C43.5384 1.31946 43.5384 1.95262 43.9289 2.34315L49.5858 8L43.9289 13.6569C43.5384 14.0474 43.5384 14.6805 43.9289 15.0711C44.3195 15.4616 44.9526 15.4616 45.3431 15.0711L51.7071 8.70711ZM0 9L51 9V7L0 7L0 9Z" fill="#818B94"/>
                </svg>     
            {%- endif -%}
        </div>
        
    </div>
    {%- endcase -%}
    {%- endfor -%}
   </div>
   <div class="icons-wrapper">
    {%- for block in section.blocks -%}
    {% case block.type %}
    {%- when 'icon_text' -%}
    <div class="block">
        <div class="icon">
            {% case block.settings.icon_select %}
                {%- when '1' -%}
                <svg width="33" height="51" viewBox="0 0 33 51" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <g clip-path="url(#clip0_336:93)">
                    <path fill-rule="evenodd" clip-rule="evenodd" d="M20.9826 2.94614V16.5084C22.6012 20.4389 24.2857 24.3315 26.036 28.1861C26.6287 29.5077 27.2249 30.8223 27.8319 32.1404C29.3978 35.5746 30.9853 39.0029 32.5944 42.4252C33.8443 45.1006 32.0987 47.751 29.5163 48.7271C21.5213 51.7588 11.4935 51.7588 3.49848 48.7271C0.912501 47.7439 -0.833036 45.1077 0.424038 42.4216C4.4359 33.8539 8.39748 25.2542 12.025 16.5155V2.94614C10.1035 2.90696 10.1179 0 12.0646 0H20.9539C22.9005 0 22.9149 2.90696 20.9898 2.94614H20.9826ZM14.0615 2.94614V16.7577L14.0004 17.0534L13.9825 17.0962C10.3262 25.9275 6.32511 34.6127 2.27015 43.273C1.52309 44.8726 2.75861 46.2762 4.22041 46.8355C11.7449 49.6854 21.2591 49.6854 28.7836 46.8355C30.2418 46.2833 31.4738 44.869 30.7303 43.273C29.2254 40.0668 27.7205 36.825 26.2444 33.5903C25.6122 32.2081 24.9849 30.8235 24.3623 29.4365C22.5306 25.3468 20.7491 21.2334 19.018 17.0962V17.0534L18.9605 16.7542V2.94614H14.0615Z" fill="#FAF6F1"/>
                    </g>
                    <defs>
                    <clipPath id="clip0_336:93">
                    <rect width="33" height="51" fill="white"/>
                    </clipPath>
                    </defs>
                    </svg>
                    
                {%- when '2' -%}
                <svg width="54" height="42" viewBox="0 0 54 42" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path d="M26.7749 37.209C26.7765 38.6187 26.9276 40.0241 27.2255 41.4012C41.6823 41.4012 53.4068 29.5556 53.4068 14.9495C53.4052 13.5397 53.2545 12.1342 52.9572 10.7568C38.4974 10.7563 26.7749 22.5994 26.7749 37.209Z" stroke="#FFFCF8" stroke-miterlimit="10"/>
                    <path d="M29.4946 38.1025C28.5714 39.1597 27.5388 40.1142 26.4145 40.9494C15.5614 31.2988 14.5037 14.5835 24.0567 3.61536C24.9799 2.55822 26.0125 1.60397 27.1368 0.768921C37.9899 10.4195 39.0471 27.1343 29.4946 38.1025Z" stroke="#FFFCF8" stroke-miterlimit="10"/>
                    <path d="M27.2247 37.209C27.2231 38.6187 27.072 40.0241 26.7741 41.4012C12.3142 41.4012 0.592773 29.5556 0.592773 14.9495C0.594052 13.5398 0.743937 12.1344 1.03989 10.7568C15.5027 10.7563 27.2247 22.5994 27.2247 37.209Z" stroke="#FFFCF8" stroke-miterlimit="10"/>
                    <path d="M11.8315 24.1001L25.8492 40.7295" stroke="#FFFCF8" stroke-miterlimit="10" stroke-linecap="round"/>
                    <path d="M43.3122 22.8608L27.6099 40.9489" stroke="#FFFCF8" stroke-miterlimit="10" stroke-linecap="round"/>
                    <path d="M27.2246 15.6332V41.4003" stroke="#FFFCF8" stroke-miterlimit="10" stroke-linecap="round"/>
                    </svg>
                    
                {%- when '3' -%}
                <svg width="51" height="44" viewBox="0 0 51 44" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <g clip-path="url(#clip0_336:102)">
                    <path d="M50.9975 13.7054C50.9975 13.6268 50.9975 13.5728 50.9975 13.5237C51.0002 11.0147 50.3256 8.55451 49.0492 6.41823C47.7728 4.28195 45.945 2.55388 43.7702 1.42736C41.5954 0.300845 39.1595 -0.179697 36.7349 0.0394998C34.3103 0.258696 31.9926 1.16898 30.0413 2.66852C30.0413 2.66852 30.0413 2.69798 30.0079 2.7078L29.9412 2.74708C27.5075 4.41635 29.0935 8.38333 30.2746 10.2441C30.9951 11.4274 31.9737 12.4209 33.1323 13.1456L33.0085 13.2488L32.8704 13.3666C32.5006 13.7001 32.1896 14.0971 31.9511 14.54C31.8702 14.6725 31.794 14.8051 31.7082 14.9328C31.5036 14.7221 31.3111 14.4991 31.1319 14.265C30.9271 14.0097 30.6938 13.7152 30.4318 13.4451C27.3884 10.2637 24.0973 9.1394 19.7679 9.79729C17.8944 10.1333 16.1252 10.9239 14.6064 12.1036C13.0876 13.2834 11.8628 14.8185 11.033 16.5824C10.5142 17.7226 10.135 18.9248 9.90418 20.1615L9.85179 20.1222C9.46438 19.8355 8.99634 19.6879 8.51963 19.7021C8.04292 19.7163 7.58392 19.8915 7.21321 20.2008C6.80328 20.5346 6.51581 21.0024 6.39808 21.5271C6.28035 22.0518 6.33939 22.6021 6.56547 23.0876C6.68797 23.377 6.86972 23.6356 7.09826 23.8458C7.3268 24.0559 7.59672 24.2127 7.88952 24.3052C8.19235 24.4157 8.51484 24.4572 8.83472 24.4266C9.1546 24.3961 9.46424 24.2944 9.74225 24.1285C9.88358 24.0394 10.0146 23.9339 10.1328 23.8143C10.209 24.153 10.2947 24.5311 10.4043 24.9582C11.695 30.1133 15.5767 32.7154 21.954 32.7154C22.678 32.7154 23.4353 32.681 24.2259 32.6172C25.3594 32.519 26.0358 32.2637 26.4168 31.7875C26.5633 31.5835 26.6661 31.3498 26.7187 31.1019C26.7712 30.8539 26.7722 30.5973 26.7216 30.349C26.7031 30.2253 26.7031 30.0995 26.7216 29.9758C26.754 29.8746 26.8069 29.7816 26.8766 29.7029C26.9464 29.6242 27.0315 29.5616 27.1264 29.5192C27.2097 29.4852 27.2994 29.4715 27.3886 29.4792C27.4779 29.4869 27.5642 29.5157 27.6408 29.5634C27.8668 29.7566 28.0476 30 28.1695 30.2753C28.6029 31.0314 29.1982 32.0722 30.7843 32.3815C32.2538 32.6332 33.755 32.6149 35.2184 32.3275C36.6473 32.1017 38.0428 30.8547 37.9332 29.1363C37.8665 28.0905 36.9807 27.6241 36.3329 27.2804C36.1179 27.1797 35.9162 27.051 35.7328 26.8975C35.6112 26.77 35.5337 26.6047 35.5121 26.4273C35.4906 26.2499 35.5263 26.07 35.6137 25.9156C35.7518 25.6628 35.9503 25.4507 36.1904 25.2994C36.4305 25.1482 36.7042 25.0628 36.9854 25.0515C38.4857 25.1153 42.4769 25.297 43.1485 21.8357C43.2933 21.307 43.3109 20.7499 43.1997 20.2126C43.0885 19.6753 42.8518 19.1741 42.5103 18.7524C42.3229 18.4833 42.1512 18.2029 41.9959 17.9129C41.4005 16.7886 40.567 15.2519 39.2287 14.3092C38.3145 13.7166 37.33 13.248 36.2996 12.9149L35.4327 12.586C36.1281 10.1312 35.8614 7.74507 34.6231 5.11843C34.189 4.16903 33.5123 3.35943 32.6656 2.77654C34.4398 1.86089 36.4115 1.42755 38.3938 1.51761C40.3761 1.60768 42.3032 2.21815 43.9924 3.29116C45.6816 4.36417 47.077 5.86415 48.0462 7.64889C49.0154 9.43363 49.5264 11.444 49.5306 13.4893V13.7201C49.5506 17.6929 48.5727 21.6034 46.692 25.0711C42.8817 32.303 35.7376 38.1405 25.4976 42.4217C15.2337 38.1405 8.10385 32.303 4.30314 25.0711C2.43135 21.6073 1.45699 17.7047 1.47404 13.7397C1.47404 13.6366 1.47404 13.5581 1.47404 13.5237C1.47683 11.2598 2.10063 9.04278 3.27344 7.12866C4.44625 5.21455 6.12025 3.68134 8.10222 2.706C10.0842 1.73067 12.2933 1.35297 14.4746 1.61651C16.6559 1.88005 18.7205 2.77409 20.43 4.19542C21.0872 4.74529 21.4301 4.17087 21.4635 4.0825C21.7016 3.46879 17.558 0.110616 13.1286 0.0026042C6.37972 -0.159413 -0.0976795 7.25903 0.0166275 13.5384C0.0166275 13.5728 0.0166275 13.6268 0.0166275 13.7054C-0.00380911 17.9335 1.03112 22.096 3.02195 25.7928C7.02746 33.4126 14.5003 39.5398 25.2404 43.9584C25.3269 43.9933 25.4189 44.0116 25.5119 44.0124C25.6063 44.0116 25.6999 43.9933 25.7881 43.9584C36.5234 39.5398 44.001 33.4224 48.0018 25.7928C49.9901 22.0954 51.0217 17.9328 50.9975 13.7054ZM8.98496 22.8274C8.88846 22.8783 8.7828 22.9081 8.6746 22.9148C8.56641 22.9216 8.45803 22.9052 8.35627 22.8667C8.26481 22.8389 8.17972 22.7925 8.10607 22.73C8.03242 22.6676 7.97173 22.5905 7.92762 22.5034C7.83045 22.3212 7.79683 22.1103 7.83237 21.9056C7.86791 21.701 7.97046 21.5152 8.1229 21.3791C8.2584 21.2676 8.42585 21.2055 8.59918 21.2023C8.73824 21.2027 8.87351 21.2492 8.98496 21.3349C9.21661 21.4952 9.41428 21.7023 9.56602 21.9437C9.47173 22.2961 9.26753 22.6066 8.98496 22.8274ZM35.7947 14.3632C36.7084 14.6552 37.5823 15.066 38.3952 15.5857C39.4573 16.3222 40.1431 17.6183 40.6956 18.6592C40.8735 18.9971 41.0691 19.3249 41.2815 19.6411C41.5124 19.8946 41.6728 20.2076 41.7457 20.5472C41.8186 20.8867 41.8014 21.2402 41.6958 21.5706C41.3958 23.1024 40.005 23.7013 37.0378 23.5639C36.4757 23.5664 35.9246 23.7244 35.442 24.0215C34.9594 24.3186 34.5631 24.7438 34.2944 25.2528C34.083 25.6642 33.9959 26.1314 34.0443 26.5942C34.0927 27.0571 34.2744 27.4944 34.5659 27.85C34.8701 28.1878 35.2402 28.4555 35.6518 28.6355C35.9852 28.8172 36.4425 29.0577 36.452 29.2443C36.5091 30.1231 35.6375 30.7172 34.985 30.8399C33.6876 31.1017 32.3552 31.1216 31.051 30.8988C30.0984 30.7172 29.7984 30.1575 29.4269 29.5094C29.1859 28.9872 28.806 28.5462 28.3314 28.2378C28.0666 28.0867 27.7727 27.9973 27.4707 27.9761C27.1686 27.9549 26.8658 28.0024 26.5835 28.1151C26.289 28.2362 26.0236 28.4218 25.8056 28.6592C25.5877 28.8966 25.4224 29.18 25.3213 29.4898C25.2227 29.8237 25.2015 30.1769 25.2594 30.5208C25.2594 30.6337 25.288 30.8006 25.2594 30.8301C25.2308 30.8596 25.0737 31.0265 24.0782 31.1099C17.1913 31.6942 13.0619 29.4898 11.8283 24.5802C11.714 24.1137 11.6235 23.7161 11.5426 23.3626C11.4339 22.8125 11.2875 22.2711 11.1044 21.7424C11.3091 20.1794 11.731 18.6549 12.357 17.2157C13.0899 15.6831 14.161 14.3487 15.4844 13.3196C16.8077 12.2905 18.3465 11.5954 19.9775 11.2898C23.8449 10.6958 26.6454 11.658 29.3745 14.5007C29.5888 14.7216 29.7888 14.9917 29.9889 15.2224C30.5271 15.9 31.0462 16.5284 31.7844 16.5137C32.0148 16.4953 32.2375 16.4195 32.4332 16.293C32.629 16.1664 32.7921 15.9928 32.9085 15.787C33.0069 15.6332 33.1021 15.481 33.1942 15.3304C33.3516 15.0324 33.5542 14.7622 33.7943 14.5302L33.9325 14.4123C34.1479 14.2233 34.3754 14.0494 34.6135 13.8919C35.0374 14.0736 35.4089 14.2209 35.7947 14.3632ZM34.0706 11.9575C33.0288 11.342 32.1529 10.4678 31.5225 9.41434C30.508 7.81872 29.4126 4.94168 30.77 4.01376C30.9106 3.91614 31.0767 3.86478 31.2463 3.86647C31.3299 3.86667 31.4132 3.87823 31.4939 3.90084C32.1083 4.07268 32.8561 4.85821 33.3038 5.80577C34.3182 7.98073 34.5612 9.96422 34.0849 11.9575H34.0706Z" fill="#FAF6F1"/>
                    </g>
                    <defs>
                    <clipPath id="clip0_336:102">
                    <rect width="51" height="44" fill="white"/>
                    </clipPath>
                    </defs>
                    </svg>
                    
                {%- when '4' -%}
                <svg width="48" height="48" viewBox="0 0 48 48" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path d="M11.478 26.236L20.9326 34.4348L35.478 13.5652" stroke="#FAF6F1" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
                    <circle cx="24" cy="24" r="23.25" stroke="#FAF6F1" stroke-width="1.5"/>
                    </svg>
                    
            {%- endcase -%}
        </div>
        <div class="text">{{block.settings.text_block2}}</div>
    </div>
     
    {%- endcase -%}
    {%- endfor -%}
   </div>
    </div> 
  </div>
    
    
  {% schema %}
      {
        "name": "Product details",
        "class":"product-details",
        "settings": [
          {
            "id": "heading",
            "type": "richtext",
            "label": "Heading"
          }
         
        ],
        "blocks": [
        {
            "type": "text",
            "name": "t:sections.image-with-text.blocks.text.name",
            "limit": 4,
            "settings": [
            {
                "id": "heading_block",
                "type": "richtext",
                "label": "Heading"
              },
              {
                "id": "text_block",
                "type": "richtext",
                "label": "Text"
              }, 
              {
                "type": "checkbox",
                "id": "show_arrow",
                "label": "Show arrow",
                "default": false
              }
            ]
        },
        {
            "type": "icon_text",
            "name": "icon_text",
            "limit": 4,
            "settings": [
              {
                "id": "text_block2",
                "type": "richtext",
                "label": "Text"
              },
              {
                "type": "select",
                "id": "icon_select",
                "label": "Select Icon",
                "options": [
                  {
                    "value": "1",
                    "label": "1"
                  },
                  {
                    "value": "2",
                    "label": "2"
                  },
                  {
                    "value": "3",
                    "label": "3"
                  }, {
                    "value": "4",
                    "label": "4"
                  }
                ],
                "default": "1"
              }
            ]
        }
        ],
        "presets": [
          {
            "category": "Product",
            "name": "Product Details"
          } 
        ]
      }
  {% endschema %}