<section class="coming-soon-section">
  <div class="header-wrapper">
    <img
      src="https://cdn.shopify.com/s/files/1/0549/7906/7956/files/Logo-Skin-Factor_2_d24d3aa9-fc4b-4b93-b98c-267f0c43256f.png?v=1634711618"
      alt=""
    />
  </div>
  <div class="img-wrapper">
    <h2>Coming <br />Soon...</h2>
    <div class="footer-wrapper">
      <h4>Your X-Factor<br class="mobile-new-line"> Beauty Routine</h4>
      <img
      class="decoration-desktop"
        src="https://cdn.shopify.com/s/files/1/0549/7906/7956/files/Frame.png?v=1634711618"
        alt=""
      />
      <img class="decoration-mobile" src="https://cdn.shopify.com/s/files/1/0549/7906/7956/files/Frame2.png?v=1634711618" alt="">
    </div>
  </div>
</section>
